{% extends "base.html" %}
{% block title %} Home {% endblock title %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css") }}" />

{% block body %}

    <div class="container">
        <form action="/add_todo" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <input type="text" class="form-control" name="desc" id="desc" required>
            </div>
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
    {% endblock body %}